:root
{
    --main-background: rgb(0, 24, 97);
    --lighter-background: rgb(0, 78, 117);
    --main-text: rgb(236, 236, 236);
    --title-text: rgb(200,200,200);
    --emphasis: rgb(183, 0, 255);
}
* 
{
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    margin: 0px;
    background-color: var(--main-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#top-header
{
    background-color: var(--main-background);
    text-decoration: underline;
    color: var(--title-text) !important;
    text-decoration-color: var(--emphasis);
    display: flex;
}
#top-header-logo
{
    height: 100px;
}
#top-header-logo-link
{
    height: 100px;
}
#top-header h1
{
    margin-left: 50px;
    margin-bottom: auto;
    margin-top: auto;
}
nav
{
    display: flex;
    background-color: var(--lighter-background);
}
nav a
{
    text-decoration: none;
    color: var(--main-text);
    padding: 6px 14px 6px 14px;
}
nav a:hover
{
    background-color: var(--emphasis);
    color: var(--main-text);
}
main
{
    color: var(--main-text);
    width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--lighter-background);
    padding: 40px;
    margin-bottom: 20px;
}

#Person-1
{
    margin-right: auto;
    width: 50%;
    height: 120px;
    display: flex;
    flex-direction: row;
}
#Person-1 h3
{
    width: auto;
    height: 20px;
    margin: 0%;
    margin-top: 5px;
    margin-left: 5px;
}
#Person-1 p
{
    height: fit-content;
    width: fit-content;
    margin: 0%;
    margin-top: 30px;
    float: left;
}
#socials-1
{
    width: 65px;
    height: 16px;
    display: flex;
    flex: none;
    justify-content: flex-start;
}
#socials-1 a
{
    width: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--main-text);
}
#socials-1 a:hover
{
    color: var(--emphasis);
}

#Person-2
{
    margin-left: 50%;
    width: 50%;
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
}
#Person-2 h3
{
    width: auto;
    height: 20px;
    margin: 0%;
    margin-top: 5px;
    margin-right: 5px;
}
#Person-2 p
{
    height: fit-content;
    width: 241px;
    margin: 0%;
    margin-top: 30px;
    float: right;
}
#socials-2
{
    width: 65px;
    height: 16px;
    display: flex;
    flex: none;
    justify-content: flex-end;
    float: right;
}
#socials-2 a
{
    width: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    color: var(--main-text);
}
#socials-2 a:hover
{
    color: var(--emphasis);
}

footer
{
    display: flex;
    background-color: var(--lighter-background);
    color: var(--main-text);
    height: 50px;
    width: 100vw;
    margin-top: auto;
}
footer p
{
    margin-left: auto;
    margin-right: auto;
}
